<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">New post?</a>
    <ul>
      <% messages.map(message => { %>
        <li>
          <strong><%= message.user %></strong>
          <%= message.text %>
          <i>date added:</i> <%= new Date(message.date).toLocaleDateString() %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
